<h1>Search Results</h1>

<p>You searched for '<%= @query %>'</p>

<% @results['hits']['hits'].each do |r| %>

  <h2><a href="<%= r['_source']['url'] %>"><%= r['_source']['title'] %></a></h2>
  <p class="lead"><%= r['_source']['description'] %></p>

  <p>...<%= ['highlight']['body'].first %>...</p>

  <% r['_source']['keywords'].each do |t| %>
    <span class='tag tag-primary'><%= t %></span>
  <% end %>

  <hr />

<% end %>
