<h1><%= @title %></h1>

<p>You searched for '<%= @query %>'</p>

<% @results.each do |r| %>

  <h2><a href="<%= r.url %>"><%= r.title %></a></h2>
  <p class="lead"><%= r.description %></p>

  <p><%= r.body %></p>

  <% r.keywords.each do |t| %>
    <span class='tag tag-primary'><%= t %></span>
  <% end %>

  <hr />

<% end %>
